---
import ImageGrid from "../../components/mdx/ImageGrid.astro";
import Base from "../../layouts/Base.astro";
import { gameLinks } from "../../config";

const title = "Photos";
const description = "My Photos";
---

<Base title={title} description={description}>
  <section>
    <h1 class="mb-8 text-2xl font-medium tracking-tight">Photos</h1>

    <ImageGrid
      columns={2}
      images={[
        {
          src: "/photos/GN2.jpg",
          alt: "Grasping Nettles",
          href: gameLinks.GN,
        },
        {
          src: "/photos/LHI1.jpg",
          alt: "Legend Has It",
          href: gameLinks.LHI,
        },
        {
          src: "/photos/MBSB2.jpg",
          alt: "My Brain is a Stick of Butter",
          href: gameLinks.MBSB,
        },
        {
          src: "/photos/NSU3.jpg",
          alt: "No Stone Unturned",
          href: gameLinks.MBSB,
        },
        {
          src: "/photos/GN3.jpg",
          alt: "Grasping Nettles",
          href: gameLinks.GN,
        },
        {
          src: "/photos/LHI2.JPG",
          alt: "Legend Has It",
          href: gameLinks.LHI,
        },
        {
          src: "/photos/NSU5.jpg",
          alt: "No Stone Unturned",
          href: gameLinks.MBSB,
        },
        {
          src: "/photos/GN1.jpg",
          alt: "Grasping Nettles",
          href: gameLinks.GN,
        },
        {
          src: "/photos/LHI4.JPG",
          alt: "Legend Has It",
          href: gameLinks.LHI,
        },
        {
          src: "/photos/NSU1.jpg",
          alt: "No Stone Unturned",
          href: gameLinks.MBSB,
        },
      ]}
    />

  </section>
</Base>
